/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0eea6;
  overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #312d22;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.navbar.open {
  transform: translateY(0);
}

.profile {
  text-align: center;
}

.profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #00adb5;
  margin-top: 50px;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 1.5rem;
  color: #00adb5;
  margin-bottom: 20px;
}

nav a {
  display: block;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
  background-color: #00adb5;
  color: #222831;
  transform: translateY(5px);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #312222;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger div{
    background-color: white;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar.open {
    transform: translateY(0);
  }

  .main-content {
    margin-top: 0;
  }
}

/* Main Content */
.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-top 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.main-content.shifted {
  margin-left: 0;
  margin-top: 200px; /* Adjust based on navbar height */
}

h1,
h2 {
  color: #222831;
  text-align: center;
  margin: 20px 0;
}

section {
  margin-bottom: 40px;
}

p {
  color: #393e46;
  font-size: 1rem;
  text-align: center;
}

/* Improved Color Palette */
body {
  background-color: #f5f7fa;
}

h1 {
  color: #222831;
}

h2 {
  color: #00adb5;
}
